<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="Login">
        <form action="/Loguear" method="post">
            <label for="">Login</label>
            <label for="">User</label>
            <input type="text" name="User" id="" placeholder="User">
            <label for="">password</label>
            <input type="text" name="Password" id="" placeholder="password">
            <br>
            <button type="submit">Iniciar</button>
        </form>
    </div>

</body>
</html>